<div class="search-section">
  <input class="search-bar" matInput placeholder="Enter customer name" (keyup.enter)="onSearchChange($event.target.value)">
</div>
<!--<div>-->
  <!--<span class="text-spacer">Number</span>-->
  <!--<span class="text-spacer">Name</span>-->
<!--</div>-->

<mat-accordion class="customers-table">
  <mat-expansion-panel *ngFor="let customer of (customerList$ | async) | paginate: { itemsPerPage: 10, currentPage: pageIndex }">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="spacer">{{customer.customerNumber}}</span>
        <span class="spacer">{{customer.customerName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-prodcuts [customer]="customer"></app-prodcuts>
  </mat-expansion-panel>
</mat-accordion>
<pagination-controls (pageChange)="pageIndex = $event" class="pagination"></pagination-controls>

