<mat-card-title>{{data.product.productName}}</mat-card-title>
<mat-card-subtitle>{{data.product.productDescription}}</mat-card-subtitle>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item><span class="topic">Product Code:</span> {{data.product.productCode}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">Product Line:</span>{{data.product.productLine}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">Product Scale:</span>{{data.product.productScale}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">Product Vendor:</span>{{data.product.productScale}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">Number in Stock:</span>{{data.product.quantityInStock}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">Buy Price:</span>{{data.product.buyPrice}}</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><span class="topic">MSRP:</span>{{data.product.MSRP}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
